.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Эффект свечения для всей страницы */
.main-content {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 50px;
  position: relative;
  animation: glowEffect 2s ease-in-out;
}

@keyframes glowEffect {
  0% {
    opacity: 0;
    filter: brightness(0);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}

/* Стиль для ТМ */
.trademark {
  position: absolute;
  top: 55px;
  right: 29%;
  color: white;
  font-size: 0.8rem;
}

/* Стиль для изображения */
.main-image {
  max-width: 65%; /* Уменьшено на 30% от 100% */
  max-height: 65%; /* Уменьшено на 30% от 100% */
  margin: 0 auto;
  opacity: 0; /* Начальное состояние: полностью прозрачное */
  transition: opacity 4s ease-in-out; /* Плавный переход длительностью 4 секунды */
  object-fit: contain; /* Гарантирует сохранение пропорций */
}

.main-image.fade-in {
  opacity: 1; /* Конечное состояние: полностью видимое */
}

/* Стиль для текста */
.main-text {
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out;
}

/* Анимация появления текста */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Адаптивность для маленьких экранов */
@media (max-width: 768px) {
  .main-text {
    font-size: 2rem;
  }
  .trademark {
    font-size: 0.6rem;
    top: 40px;
  }
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 320px;
  gap: 550px; /* Расстояние между картинками */
  opacity: 0; /* Начальное состояние: полностью прозрачное */
  transform: translateY(100px); /* Начальное положение: ниже экрана */
  animation: slideUp 3s ease-in-out forwards; /* Анимация появления */
  animation-delay: 7.5s; /* Задержка после появления текста */
}

/* Анимация появления снизу */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.row-image {
  width: 40px; /* Фиксированная ширина */
  height: 40px; /* Фиксированная высота */
  border-radius: 0px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Эффекты свечения для каждой картинки */

/* бел картинка */
.row-image.yellow:hover {
  transform: scale(1.2); /* Увеличение картинки */
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8); /* Желтое свечение */
}

/* бел картинка */
.row-image.blue:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8); /* Синее свечение */
}

/* голуб картинка */
.row-image.green:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px 5px rgba(0, 162, 255, 0.8); /* Зеленое свечение */
}

/* бел картинка */
.row-image.red:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8); /* Красное свечение */
}

/* оранж картинка */
.row-image.white:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px 5px rgba(253, 135, 0, 0.8); /* Белое свечение */
}